@import './base.css';

:root {
  --container-max-width: 1480px; /* Define a reusable max-width */
}

#app {
  max-width: var(--container-max-width); 
  width: 100%;
  margin: 0 auto;
  padding: 0 0rem;
  font-weight: normal;
  display: block;
  grid-template-columns: 1fr 1fr;
  background: rgb(244 244 245);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(207, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
  }
}

